﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  
</head>
<body>

    @Html.Partial("_Navbar")

    
    <div class="container body-content">
        @if (Request["status"] != null)
        {
            var alertClass = Request["status"] == "success" ? "alert alert-success" : "alert alert-danger";
            <div class="@alertClass">
                @Request["message"]
            </div>
        }      
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            if($("alert").length != null)
            {
                setTimeout(function () {
                    $(".alert").fadeOut();
                }, 3000);
            }
        });
    </script>
</body>
</html>