﻿@inherits System.Web.Mvc.WebViewPage
<div class="navbar navbar-fixed-top primary_background_color mb-3">
    <div class="container">
        <div class="navbar-header text-center">
            <img class="text-center" width="130px" src="~/Images/logodesktop.png" />
        </div>
        <div class="row">
            <div class="col-lg-12 text-white">
                @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "text-white" }) |
                @Html.ActionLink("Suppliers", "Index", "Suppliers", null, new { @class = "text-white" }) |
                @Html.ActionLink("Product Lines", "Index", "ProductLine", null, new { @class = "text-white" }) |
                @Html.ActionLink("Logout", "LogoutUser", "Users", null, new { @class = "text-white" })
            </div>
        </div>
    </div>
</div>
