﻿@model OrdersAssessment.ViewModel.ViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-3">
    <div class="card-header clearfix">
        Suppliers
        <span class="float-right">
            <a href="#addSupplier-modal" data-toggle="modal" data-target="#addSupplier-modal" class="btn btn-sm primary_background_color text-white"><i class="fa fa-plus"></i> Add Supplier</a>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table width="100" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   @if(Model.Suppliers.Count > 0)
                   {
                       foreach (OrdersAssessment.Models.SupplierList supplier in Model.Suppliers)
                       {
                        <tr>
                            <td>@supplier.id</td>
                            <td>@supplier.name</td>
                            <td>@supplier.date_created</td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = supplier.id })</td>
                        </tr>
                       }
                   }                   
                </tbody>
            </table>
            @Html.PagedListPager(Model.Suppliers, page => Url.Action("Index", new { page }))
        </div>
        
    </div>
</div>

<!-- Add Supplier Modal -->
<div class="modal fade" id="addSupplier-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Supplier</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="~/Suppliers/AddSupplier" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="type">Supplier Name</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" name="supplier_name" required placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" name="btnAddSupplier" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Of Modal -->
