﻿body {

}
.primary_background_color{
    background:#0055a3 !important;
}
.btnSignIn{
    background:#0055a3 !important;
    color:#fff !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

