﻿@model OrdersAssessment.ViewModel.ViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Order</h2>
<div class="card">
    <div class="card-body">
        <form action="~/Orders/UpdateOrders/@Model.AllOrdersList.First().id" method="post" class="mt-3">
            <div class="form-group">
                <label class="control-label col-sm-4" for="supplierId">Supplier</label>
                <div class="col-lg-12">
                    <select class="form-control" name="supplierId">
                        <option>Please select a supplier</option>
                        @foreach (OrdersAssessment.Models.SupplierList supplier in Model.AllSuppliers.ToList())
                        {
                            if (Model.AllOrdersList.First().supplierId == (int)supplier.id)
                            {
                                <option selected value="@supplier.id">@supplier.name</option>
                            }
                            else
                            {
                                <option value="@supplier.id">@supplier.name</option>
                            }                            
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="product_line">Product Line</label>
                <div class="col-lg-12">
                    <select class="form-control" name="product_line">
                        <option>Please select a product line</option>
                        @foreach (OrdersAssessment.Models.ProductLineList product_line in Model.AllProductLinesList.ToList())
                        {
                            if ((int)Model.AllOrdersList.First().productLineId == (int)product_line.id)
                            {
                                <option selected value="@product_line.id">@product_line.name</option>
                            }
                            else
                            {
                                <option value="@product_line.id">@product_line.name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" name="btnUpdateOrder" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

