﻿@model OrdersAssessment.ViewModel.ViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-3">
    <div class="card-header clearfix">
        Orders
        <span class="float-right">
            <a href="#addOrder-modal" data-toggle="modal" data-target="#addOrder-modal" class="btn btn-sm primary_background_color text-white"><i class="fa fa-plus"></i> Add Order</a>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table width="100" class="table table-hover">
                <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Product Line</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>  
                    @if (Model.Orders.Count > 0)
                    {
                        foreach (OrdersAssessment.Models.OrderList order in Model.Orders)
                        {
                            <tr>
                                <td>@order.suppliers_name</td>
                                <td>@order.product_line</td>
                                <td>@order.date_created</td>
                                <td>@Html.ActionLink("Edit", "Edit", new { id = order.id })</td>
                            </tr>
                        }
                    }                    
                </tbody>
            </table>
            @Html.PagedListPager(Model.Orders, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>



<!-- Add Supplier Modal -->
<div class="modal fade" id="addOrder-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Order</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="~/Orders/addOrder" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="supplierId">Supplier</label>
                        <div class="col-lg-12">
                            <select class="form-control" name="supplierId">
                                <option>Please select a supplier</option>
                                @if (Model.AllSuppliers.Count > 0)
                                {
                                    foreach (OrdersAssessment.Models.SupplierList supplier in Model.AllSuppliers)
                                    {
                                    <option value="@supplier.id">@supplier.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="product_line">Product Line</label>
                        <div class="col-lg-12">
                            <select class="form-control" name="product_line">
                                <option>Please select a product line</option>
                                @if (Model.AllProductLinesList.Count > 0)
                                {
                                    foreach (OrdersAssessment.Models.ProductLineList product_line in Model.AllProductLinesList.ToList())
                                    {
                                    <option value="@product_line.id">@product_line.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" name="btnAddOrder" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Of Modal -->