﻿@model OrdersAssessment.ViewModel.ViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Product Line</h2>
<div class="card">
    <div class="card-body">
        <form action="~/ProductLine/UpdateProductLine/@Model.AllProductLinesList.First().id" method="post" class="mt-3">
            <div class="form-group">
                <label class="control-label col-sm-4" for="product_line">Product Line</label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="product_line" required placeholder="" value="@Model.AllProductLinesList.First().name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>