﻿@model OrdersAssessment.ViewModel.ViewModel
@using PagedList;
@using PagedList.Mvc;
@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="card mt-3">
    <div class="card-header clearfix">
        Product Lines
        <span class="float-right">
            <a href="#addProductLine-modal" data-toggle="modal" data-target="#addProductLine-modal" class="btn btn-sm primary_background_color text-white"><i class="fa fa-plus"></i> Add Product Line</a>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table width="100" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   @if (Model.ProductLines.Count > 0)
                   {
                       foreach (OrdersAssessment.Models.ProductLineList product_line in Model.ProductLines.ToList())
                       {
                        <tr>
                            <td>@product_line.id</td>
                            <td>@product_line.name</td>
                            <td>@product_line.date_created</td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = product_line.id })</td>
                        </tr>
                       }
                   }
                   
                </tbody>
            </table>
            @Html.PagedListPager(Model.ProductLines,page => Url.Action("Index",new { page }))
        </div>
    </div>
</div>

<!-- Add Supplier Modal -->
<div class="modal fade" id="addProductLine-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product Line</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="~/ProductLine/AddProductLine" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="product_line">Product Line</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" name="product_line" required placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" name="btnAddProductLine" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Of Modal -->
