﻿@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Order Management</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top primary_background_color">
        <div class="container">
            <div class="navbar-header text-center">
                <img class="text-center" width="130px" src="~/Images/logodesktop.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto">
            <!--Form with header-->
            <div class="card z-depth-2">
                <div class="card-body">
                    @using (Html.BeginForm("LoginUser", "Users", FormMethod.Post))
                    {
                        <h5 class="text-center">Orders Management</h5>
                        if (Request["status"] != null)
                        {
                            var alertClass = Request["status"] == "success" ? "alert alert-success" : "alert alert-danger";
                            <div class="@alertClass">
                                @Request["message"]
                            </div>
                        }


                    <!--Body-->
                        <div class="form-group mt-3">
                            <label class="control-label col-sm-12" for="username">User name</label>
                            <input type="text" name="username" class="form-control col-sm-12" required placeholder="Enter username">
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-12" for="password">Password</label>
                            <input type="password" name="password" class="form-control col-sm-12" required placeholder="Enter password">
                        </div>

                        <div class="form-group text-center">
                            <button class="btn  btn-block  btn-rounded my-4 waves-effect z-depth-0 btnSignIn" type="submit">Sign in</button>
                        </div>
                    }
                </div>
            </div>
            <!--/Form with header-->
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
